@{
    ViewBag.Title = "投票,微信投票,点赞,微信刷票";
}
<script src="~/assets/js/jquery.min.js"></script>

<table width="100%" border="0" cellspacing="0" cellpadding="0">



    <tr>
        <td>

            <table width="1001" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td colspan="4" align="center">
                        <div class="banner">
                            <div class="ul">
                                <ul>


                                    <li><img alt="微信投票" src="../images/banner01.jpg" /></li>

                                    <li><img alt="微信投票" src="../images/banner02.jpg" /></li>

                                    <li><img alt="微信投票" src="../images/banner03.jpg" /></li>

                                    <li><img alt="微信投票" src="../images/banner04.jpg" /></li>

                                </ul>
                                <div style="clearfix"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </td>
    </tr>

    <tr>
        <td align="center">
            <table width="1001" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">

                <tr>
                    <td width="9"></td>
                    <td width="264" valign="top">
                        <table width="264" border="0" cellspacing="0" cellpadding="0">

                            <tr>
                                <td height="10"></td>
                            </tr>

                            <tr>
                                <td height="36" background="../images/p1.jpg">
                                    <table width="264" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="5" colspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td width="27">&nbsp;</td>
                                            <td width="237" align="left" style="font-size:14px; font-weight:bold;">最新资讯</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td height="278" valign="top" background="../images/p2.jpg">
                                    <table width="264" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="5" colspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td width="11">&nbsp;</td>
                                            <td width="253">
                                                <!----------------最新资讯------------------------->

                                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                    @foreach (var item in ViewBag.zxzx as List<Model.News>)
                                                    {

                                                        if (item.Type != "最新资讯")
                                                        {
                                                            continue;
                                                        }
                                                        <tr>
                                                            <td height="25" width="100%">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td width="3%" height="25"><img src="../images/ni.jpg" width="13" height="12" /></td>
                                                                        <td align="left">
                                                                            <a href="@Url.Action("GetNewsInfo",new { id = item.Id})">@item.Title</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td height="1" background="../images/line.jpg"></td>
                                                        </tr>
                                                    }

                                                    <tr></tr>
                                                </table>
                                                <!----------------最新资讯结束------------------------->

                                            </td>
                                            <td width="9">&nbsp;</td>
                                        </tr>
                                        <tr><td height="10" colspan="3"></td></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="11"></td>
                            </tr>
                            <tr>
                                <td><a href="#"><img src="../images/p3.jpg" alt="投票信息" width="264" height="63" border="0"></a></td>
                            </tr>
                            <tr><td height="9"></td></tr>
                            <tr>
                                <td><a href="#"><img src="../images/p4.jpg" alt="下载中心" width="264" height="64" border="0"></a></td>
                            </tr>

                            <td width="264" valign="top">
                                <table width="264" border="0" cellspacing="0" cellpadding="0">

                                    <tr>
                                        <td height="34" background="../images/h_r18_c110.jpg">
                                            <table width="264" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td height="3" colspan="2"></td>
                                                </tr>
                                                <tr>
                                                    <td width="24">&nbsp;</td>
                                                    <td width="240" align="left" style="font-size:14px; font-weight:bold;">微信二维码</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td height="" valign="top">
                                            <img src="../images/weixin.jpg" width="100%">
                                        </td>
                                    </tr>

                                    <tr><td height="10"></td></tr>

                                    <tr>
                                        <td height="34" background="../images/p7.jpg">
                                            <table width="264" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td height="3" colspan="2"></td>
                                                </tr>
                                                <tr>
                                                    <td width="24">&nbsp;</td>
                                                    <td width="240" align="left" style="font-size:14px; font-weight:bold;">客服中心</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><img src="../images/p12.jpg" width="264" height="14"></td>
                                    </tr>

                                    <tr>
                                        <td><a href="#"><img src="../images/p7.jpg" alt="网上留言" width="264" height="63" border="0"></a></td>
                                    </tr>



                                </table>
                            </td>


                        </table>
                    </td>

                    <td width="9"></td>

                    <td width="743" valign="top">
                        <table width="743" border="0" cellspacing="0" cellpadding="0">

                            <tr>
                                <td height="10"></td>
                            </tr>

                            <tr>
                                <td>
                                    <table width="745" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="743" valign="top">
                                                <table width="743" border="0" cellspacing="0" cellpadding="0">

                                                    <tr><td height="0"></td></tr>

                                                    <tr>
                                                        <td height="35" background="../images/h_r11_c40.jpg">
                                                            <table width="743" border="0" cellspacing="0" cellpadding="0">

                                                                <tr><td height="5" colspan="3"></td></tr>

                                                                <tr>
                                                                    <td width="23">&nbsp;</td>
                                                                    <td width="664" align="left" style="font-size:14px; font-weight:bold;">&nbsp;公司简介</td>
                                                                    <td width="56"><a href="#">More&gt;&gt;</a></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td height="130" align="center" valign="top" background="../images/h_r12_c40.jpg">
                                                            <table width="743" border="0" cellspacing="0" cellpadding="0">

                                                                <tr><td height="10"></td></tr>

                                                                <tr>
                                                                    <td height="130" valign="top">
                                                                        <div style="width:723px; height:130px; text-align:left; overflow:hidden;padding:0 10px">
                                                                            有味微信投票公司，专业团队承接各类微信投票、阅读量、注册、抖音加粉点赞等活动。QQ：3282079595  电话（微信号）：18963948278 。有味网络刷票公司百万水军帮助您踏上成功之路，脱颖而出，争夺本应属于自己的荣耀。
                                                                            有味微信投票公司多年来专业从事网络投票业务，经验让我们熟悉网上投票的各种投票，因为专注，所以更专业...
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr><td width="10" height="10"></td></tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr><td height="10"></td></tr>

                                                    <tr>
                                                        <td>
                                                        
                                                            <table width="743" border="0" cellspacing="0" cellpadding="0">

                                                                <tr>
                                                                    <td width="100" align="center" height="26" style="background: url(../images/sel.jpg) no-repeat; cursor: pointer;" id="tab1">
                                                                        <a href="/news/gsdt" style="display:block;width:100px;" onmousemove="setTab(1);">
                                                                            <span class="STYLE13">投票服务项目</span>
                                                                        </a>
                                                                    </td>
                                                                    <td width="100" align="center" height="26" style="background: url(../images/nosel.jpg) no-repeat; cursor: pointer;" id="tab2">
                                                                        <a href="/news/hydt" style="display:block;width:100px;" onmousemove="setTab(2);">
                                                                            <span class="STYLE13">成功案例</span>
                                                                        </a>
                                                                    </td>
                                                                    <td width="271" height="26" align="center" background="../images/c.jpg">&nbsp;</td>
                                                                </tr>
                                                            </table>
                                                          
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td height="200" valign="top" background="../images/c2.jpg">
                                                            <table width="743" border="0" cellspacing="0" cellpadding="0">

                                                                <tr><td height="5" colspan="3"></td></tr>

                                                                <tr>
                                                                    <td width="7"></td>
                                                                    <td width="743" align="left">
                                                                        <div id=tabp1 style="padding-top:5px; padding-left:10px;">




                                                                            <!----------------服务项目------------------------->
                                                                            <table width="101%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td>

                                                                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                            <tr>
                                                                                                @foreach (var item in ViewBag.fwxm as List<Model.News>)
                                                                                                {
                                                                                                    if (item.Type != "服务项目")
                                                                                                    {
                                                                                                        continue;
                                                                                                    }
                                                                                                    <td height="70" width="">
                                                                                                        <table width="75" border="0" align="left" cellpadding="0" cellspacing="0">
                                                                                                            <tr>
                                                                                                                <td width="75" align="center">
                                                                                                                    <table width="75" height="70" cellpadding="0" cellspacing="0" border="0" style="border:1px solid #e8e7e7">
                                                                                                                        <tr>
                                                                                                                            <td height="70" width="75" align="center" valign="middle">
                                                                                                                                <a href="@Url.Action("GetServiceDetail",new { id = item.Id})">
                                                                                                                                    <img src="@item.ImageUrl" alt="@item.Title" width="75" height="70" align="center">
                                                                                                                                </a>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </table>

                                                                                                                    <table width="75" border="0" cellspacing="0" cellpadding="0">
                                                                                                                        <tr>
                                                                                                                            <td width="75" height="5" style=" color:#999999; font-size:12px">@item.Title</td>
                                                                                                                        </tr>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                }




                                                                                            </tr>
                                                                                            <tr><td height="2"></td></tr>
                                                                                            <tr>

                                                                                                @foreach (var item in ViewBag.fwxm1 as List<Model.News>)
                                                                                                {
                                                                                                    if (item.Type != "服务项目1")
                                                                                                    {
                                                                                                        continue;
                                                                                                    }
                                                                                                    <td height="70" width="">
                                                                                                        <table width="75" border="0" align="left" cellpadding="0" cellspacing="0">
                                                                                                            <tr>
                                                                                                                <td width="75" align="center">
                                                                                                                    <table width="75" height="70" cellpadding="0" cellspacing="0" border="0" style="border:1px solid #e8e7e7">
                                                                                                                        <tr>
                                                                                                                            <td height="70" width="75" align="center" valign="middle">
                                                                                                                                <a href="@Url.Action("GetServiceDetail",new { id = item.Id})">
                                                                                                                                    <img src="@item.ImageUrl" alt="@item.Title" width="75" height="70" align="center">
                                                                                                                                </a>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </table>

                                                                                                                    <table width="75" border="0" cellspacing="0" cellpadding="0">
                                                                                                                        <tr>
                                                                                                                            <td width="75" height="5" style=" color:#999999; font-size:12px">@item.Title</td>
                                                                                                                        </tr>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                }


                                                                                            </tr>

                                                                                            <tr><td height="2"></td></tr>

                                                                                            <tr></tr>

                                                                                        </table>

                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                            <!--------------服务项目结束--------------------------->
                                                                        </div>

                                                                        <!----------------成功案例------------------------->
                                                                        <div id=tabp2 style="display:none;padding-top:0px;">



                                                                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                @foreach (var item in ViewBag.cgal as List<Model.News>)
                                                                                {
                                                                                    if (item.Type != "成功案例")
                                                                                    {
                                                                                        continue;
                                                                                    }
                                                                                    <tr>
                                                                                        <td height="26" width="100%">
                                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                <tr>
                                                                                                    <td width="3%" height="26"><img src="@item.ImageUrl" width="16" height="9" /></td>
                                                                                                    <td width="77%"><a href="@Url.Action("GetNewsInfo",new { id = item.Id})">@item.Title</a></td>
                                                                                                    <td width="20%" align="right"><font color="#666666">@item.PublishedTime.Value.ToString("yyyy-MM-dd")</font></td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="1" background="../images/line.jpg"></td>
                                                                                    </tr>
                                                                                }




                                                                                <tr></tr>
                                                                            </table>

                                                                        </div>
                                                                        <!----------------成功案例结束------------------------->

                                                                    </td>
                                                                    <td width="7"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td><img src="../images/c3.jpg" width="743" height="5" /></td>
                                                    </tr>

                                                    <tr><td height="10"></td></tr>

                                                    <tr>
                                                        <td>
                                                            <table width="743" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td width="100" align="center" height="26" style="background: url(../images/sel.jpg) no-repeat; cursor: pointer;" id="tab4">
                                                                        <a href="/news/gsdt" style="display:block;width:100px;" onmousemove="setTab(4);">
                                                                            <span class="STYLE13">投票小常识</span>
                                                                        </a>
                                                                    </td>
                                                                    <td width="100" align="center" height="26" style="background: url(../images/nosel.jpg) no-repeat; cursor: pointer;" id="tab5">
                                                                        <a href="/news/hydt" style="display:block;width:100px;" onmousemove="setTab(5);">
                                                                            <span class="STYLE13">常见问题</span>
                                                                        </a>
                                                                    </td>
                                                                    <td width="271" height="26" align="center" background="../images/c.jpg">&nbsp;</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td height="177" valign="top" background="../images/c2.jpg">
                                                            <table width="743" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td height="5" colspan="3"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td width="7"></td>
                                                                    <td width="743" align="left">
                                                                        <div id="tabp4" style="display:;padding-top:0px;">



                                                                            <!----------------投票小常识------------------------->

                                                                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                @foreach (var item in ViewBag.tpcs as List<Model.News>)
                                                                                {
                                                                                    if (item.Type != "投票小常识")
                                                                                    {
                                                                                        continue;
                                                                                    }
                                                                                    <tr>
                                                                                        <td height="26" width="100%">
                                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                <tr>
                                                                                                    <td width="3%" height="26"><img src="../images/jt.jpg" width="16" height="9" /></td>
                                                                                                    <td width="77%"><a href="@Url.Action("GetNewsInfo",new { id = item.Id})">@item.Title</a></td>
                                                                                                    <td width="20%" align="right"><font color="#666666">@item.PublishedTime.Value.ToString("yyyy-MM-dd")</font></td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="1" background="../images/line.jpg"></td>
                                                                                    </tr>
                                                                                }


                                                                            </table>

                                                                            <!----------------投票小常识结束------------------------->
                                                                        </div>


                                                                        <div id="tabp5" style="display:none;padding-top:0px;">

                                                                            <!----------------常见问题开始------------------------->

                                                                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                                @foreach (var item in ViewBag.cjwt as List<Model.News>)
                                                                                {
                                                                                    if (item.Type != "常见问题")
                                                                                    {
                                                                                        continue;
                                                                                    }
                                                                                    <tr>
                                                                                        <td height="26" width="100%">
                                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                                <tr>
                                                                                                    <td width="3%" height="26"><img src="../images/jt.jpg" width="16" height="9" /></td>
                                                                                                    <td width="77%"><a href="@Url.Action("GetNewsInfo",new { id = item.Id})">@item.Title</a></td>
                                                                                                    <td width="20%" align="right"><font color="#666666">@item.PublishedTime.Value.ToString("yyyy-MM-dd")</font></td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td height="1" background="../images/line.jpg"></td>
                                                                                    </tr>
                                                                                }


                                                                            </table>

                                                                            <!----------------常见问题结束------------------------->


                                                                        </div>
                                                                    </td>
                                                                    <td width="7"></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td><img src="../images/c3.jpg" width="743" height="5" /></td>
                                                    </tr>
                                                </table>
                                            </td>

                                            <td width="10"></td>


                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td width="10"></td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>






<script>
    var i = 0
    setInterval(function () {

        if (i < $(".ul li").length - 1) {
            i++
        }
        else {
            i = 0
        }
        $(".ul").animate({ "left": -$(".ul li")[0].offsetWidth * i })
    }, 3000)

    function setTab(id) {
        var selectTab = "tab" + id;
        var selecttabp = "tabp" + id;
        if (id > 3) {

            $("#tab4").css("background", "url(../images/nosel.jpg) no-repeat");
            $("#tab5").css("background", "url(../images/nosel.jpg) no-repeat");
            $("#tabp4").css("display", "none");
            $("#tabp5").css("display", "none");
            $("#" + selectTab).css("background", "url(../images/sel.jpg) no-repeat");
            $("#" + selecttabp).css("display", "");



        } else {
            $("#tab1").css("background", "url(../images/nosel.jpg) no-repeat");
            $("#tab2").css("background", "url(../images/nosel.jpg) no-repeat");
            $("#tabp1").css("display", "none");
            $("#tabp2").css("display", "none");
            $("#" + selectTab).css("background", "url(../images/sel.jpg) no-repeat");
            $("#" + selecttabp).css("display", "");
        }


    }
    
</script>

