<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <meta name="keywords" content="微信刷票,微信投票,投票,人工投票,点赞" />
    <meta name="description" content="有味网络投票公司为全国各地提供微信投票评选活动、微信投票、阅读量和抖音加粉点赞等服务。旗下平台众多,拥有十几万从事微信投票服务的投票会员,近百万网络水军为您快速拉票,助您踏上成功之路，脱颖而出！" />
    <title>@ViewData["Title"]</title>
    <script src="~/assets/js/jquery.min.js"></script>
    <style type="text/css">
        body {
            background-color: #f2f4f1;
        }

        #tab1 a .STYLE13 {
            font-size: 14px;
            font-weight: bold;
        }

        #tab2 a .STYLE13 .STYLE13 {
            font-weight: bold;
        }

        #tab3 a .STYLE13 {
            font-weight: bold;
        }

        #tab4 a .STYLE13 {
            font-weight: bold;
        }

        #tab5 a .STYLE13 {
            font-weight: bold;
        }

        .ul {
            position: relative;
            width: 400%;
            left: 0;
            top: 0;
        }

            .ul li {
                float: left;
                width: 25%;
            }

        .banner {
            overflow: hidden;
        }

        .ul img {
            width: 100%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" background="../../images/bg.jpg">
                        <table width="1001" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="591"><h1><a href="#"><img src="../../images/logo.jpg" width="591" height="102" alt="有味微信投票公司" /></a></h1></td>
                                <td width="410" valign="top">
                                    <table width="410" border="0" cellspacing="0" cellpadding="0" style="margin-top: 22px;">
                                        <tr>
                                            <td height="50" align="right" valign="bottom">
                                                <span class="STYLE1">
                                                    <img src="../../images/phone.png" width="50" /><span class="STYLE3" style="color:#fff ;font-size:16px">
                                                        电话：18963948278
                                                        <img src="../../images/weixin.png" width="50" />微信号：18963948278
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table width="1001" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="10" bgcolor="#FFFFFF"></td>
                            </tr>
                            <tr>
                                <td height="39" align="center" bgcolor="#FFFFFF">
                                    <table width="982" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="39" background="../../images/mum.jpg">
                                                <script type=text/javascript>
<!--    //--><![CDATA[//><!--
                                                    function menuFix() {

                                                        var sfEls = document.getElementById("nav").getElementsByTagName("li");
                                                        for (var i = 0; i < sfEls.length; i++) {
                                                            sfEls[i].onmouseover = function () {
                                                                this.className += (this.className.length > 0 ? " " : "") + "sfhover";
                                                            }
                                                            sfEls[i].onMouseDown = function () {
                                                                this.className += (this.className.length > 0 ? " " : "") + "sfhover";
                                                            }
                                                            sfEls[i].onMouseUp = function () {
                                                                this.className += (this.className.length > 0 ? " " : "") + "sfhover";
                                                            }
                                                            sfEls[i].onmouseout = function () {
                                                                this.className = this.className.replace(new RegExp("( ?|^)sfhover\b"),
                                                                    "");
                                                            }
                                                        }
                                                    }
                                                    window.onload = menuFix;
                                                                                                                                                                                                                            //--><!]]></script>
                                                <style type="text/css">
                                                    body {
                                                        margin: 0;
                                                        font-size: 14px;
                                                        font-family: "宋体";
                                                        line-height: 180%;
                                                        color: #333;
                                                    }

                                                    ul, dl, h1, h2, h3, h4, h5, h6, form, dl, dd {
                                                        padding: 0;
                                                        margin: 0;
                                                    }

                                                    h1 {
                                                        font-family: "宋体";
                                                        font-size: 14px;
                                                    }

                                                    h2 {
                                                        font-size: 14px;
                                                    }

                                                    h3 {
                                                        font-size: 14px;
                                                        font-weight: bold;
                                                    }

                                                    h4 {
                                                        font-size: 14px;
                                                    }

                                                    h5 {
                                                        font-size: 14px;
                                                        font-weight: bold;
                                                    }

                                                    ul {
                                                        list-style: none;
                                                    }

                                                    img {
                                                        border: 0px;
                                                    }


                                                    #nav {
                                                        float: left;
                                                        height: 37px;
                                                        margin: 0 auto;
                                                        margin-top: 2px;
                                                        border: 0px #fff solid;
                                                    }

                                                    #menu ul {
                                                        list-style: none;
                                                        margin: 0px;
                                                        padding: 0px;
                                                    }

                                                    #nav ul li {
                                                        float: left;
                                                        margin-left: 5px;
                                                    }

                                                        #nav ul li a {
                                                            display: block;
                                                            background: url(../images/m1.jpg) no-repeat left;
                                                            line-height: 37px;
                                                            padding-left: 15px;
                                                            font-size: 14px;
                                                            font-weight: bold;
                                                            color: #4a4a4a;
                                                        }

                                                            #nav ul li a span {
                                                                display: block;
                                                                background: url(../images/m2.jpg) no-repeat right;
                                                                line-height: 37px;
                                                                padding-right: 15px;
                                                            }

                                                            #nav ul li a:hover {
                                                                background: url(../images/m3.jpg) no-repeat left;
                                                                padding-left: 15px;
                                                                color: #9e6144;
                                                                font-size: 14px;
                                                                text-decoration: none;
                                                            }

                                                                #nav ul li a:hover span {
                                                                    background: url(../images/m4.jpg) no-repeat right;
                                                                }

                                                            #nav ul li a#nav_current {
                                                                background: url(../images/a3.jpg) 0 0 no-repeat;
                                                                color: #ffff00;
                                                            }

                                                                #nav ul li a#nav_current span {
                                                                    background: url(../images/a4.jpg) right 0px;
                                                                }

                                                        #nav ul li ul {
                                                            display: none;
                                                            position: absolute;
                                                            background: #3494cf;
                                                        }

                                                            #nav ul li ul li {
                                                                float: none;
                                                                margin: 0;
                                                            }

                                                                #nav ul li ul li a {
                                                                    background: #70716b;
                                                                    height: 30px;
                                                                    line-height: 30px;
                                                                    width: 140px;
                                                                    padding-right: 10px;
                                                                    color: #CCC;
                                                                }

                                                                    #nav ul li ul li a:hover {
                                                                        background: #333;
                                                                        color: #ffff00;
                                                                    }

                                                        #nav ul li:hover ul {
                                                            display: block;
                                                        }

                                                        #nav ul li.sfhover ul {
                                                            display: block;
                                                        }
                                                </style>

                                                <div id="nav">
                                                    <ul>
                                                        <li><a href="/"><span>首页</span></a></li>

                                                        <li><a href="@Url.Action("NewsList","Home",new { type="投票小常识"})"><span>投票小常识</span></a></li>

                                                        <li><a href="@Url.Action("NewsList","Home",new { type="成功案例"})"><span>成功案例</span></a></li>
                                                        <li><a href="@Url.Action("NewsList","Home",new { type="服务项目"})"><span>服务项目</span></a></li>
                                                        <li><a href="/"><span>联系我们</span></a></li>
                                                        <li><a href="@Url.Action("SystemManager","Home")"><span>系统管理</span></a></li>
                                                    </ul>
                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="10" bgcolor="#FFFFFF"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
             
            </table>
        
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <partial name="FootView.cshtml"/>            
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
